<div id="container1" class="arrow"></div><div id="container" class="logo"></div><header id="home"><nav><a href="#about-me">About Me</a><a href="#Experenice">Experience</a><a href="#Blog">Blog</a><a href = "#Portfolio">Portfolio</a><a href="#Details">Contact Me</a></nav><h1><span>Daniel Foley</span></h1><p class="kicker">Economist // Data Science and Programming Enthusiast</p></header>

{% seo %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>