---
layout: default
---

{% include header_small.html %}



<h2 id="Portfolio">Portfolio of Projects</h2>
<hr class="bar-blog"> </hr>
  {% for post in site.categories['portfolio'] %}
    <div class="portfolio-header">
      <a href="{{portfolios.url}}"><h1 class="portfolio-title">{{ post.title }}</h1></a>
    </div>
    <div class="portfolio-header">
      <p class="portfolio-meta">{{ post.date | date: "%B %-d, %Y — %H:%M" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
    </div>

  {% endfor %}
  <hr class="bar-blog"> </hr>
<div class="temp-portolio">

</div>